[Unit]
Description=EWCtrl Service
After=network.target

[Service]
ExecStart=/home/atlas/ewctrl-mini/keyboardclient/venv/bin/python3 /home/atlas/ewctrl-mini/keyboardclient/keyboard_client.py
Restart=always
User=atlas
WorkingDirectory=/home/atlas/ewctrl-mini/keyboardclient

[Install]
WantedBy=multi-user.target